<footer id="footer" style="
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
">
    <p>&copy; 2017 Company, Inc.</p>
</footer>