<% include partials/header %>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome To YelpGym</h1>
      <p>View our hand-picked gyms from all over the world</p>
      <p><a class="btn btn-primary btn-large" href="/gyms/new">Add New Gym</a></p>
    </div>
  </header>

  <div class="row text-center">
    <% gyms.forEach(function(gym) { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= gym.image %>">
          <div class="caption">
            <h4><%= gym.name %></h4>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>

<% include partials/footer %>
