<% include partials/header %>

<link rel="stylesheet" href="css/landing.css">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="content" id="landing-header">
        <h1>YelpGym</h1>
        <h3>Start planning your next training today</h3>
        <hr>
        <a href="/gyms" class="btn btn-default btn-lg">Get Started!</a>
      </div>

      <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

    </div>
  </div>
</div>

<% include partials/footer %>
