<% include partials/header %>

<h1>Create a New Gym</h1>

<form action="/gym" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="image" placeholder="image url">
  <button>Submit!</button>
</form>

<a href="/gyms">Go Back</a>

<% include partials/footer %>