/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.container .text {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail {
    padding: 0;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 10px;
}

/* Google Map styles */
#map {
    height: 400px;
    width: 100%;
}

/* Campground show page delete button */
.delete-form {
    display: inline-block;
}

/* Flexbox grid fix */
#flex-wrap {
    display:flex;
    flex-wrap: wrap;
}